<div class="container center">
  <div class="new-user-form" id="new-sign-up">

    <h1>Sign Up</h1>

    <%= form_for(@user) do |f| %>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Create Account", class: "btn btn-custom"  %>
    <% end %>
    <hr>
    <div id="log-in">
      <%= button_to "Or Log In", login_path, method: :get, class: "btn btn-custom" %>
    </div>
  </div>

</div>
