<div class="container">
  <h1>Submit A Link</h1>
  <%= form_for(Link.new) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "Create New Link" %>
  <% end %>
</div>
